/* You can add global styles to this file, and also import other style files */
/* toda página */
*{
  background-color: azure;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;

}

/* formulário da página */
.formulario{
  background-color: rgba(38, 241, 241, 0.269);
   margin: 0px;
  padding: 50px;
  padding: 0.1em;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 125px;
  padding-top: 50px;
  width: 100%;
}

.form{
  border: 2px solid black;
  margin: 10px;
  padding: 10px;

}

.tabela{
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
}

/* butões da página */
button{
  padding: 0.1em;
  margin: 1.1em;
  color: black;
}
button:hover{
  color: rgba(16, 17, 16, 0.305);
  font-size: 17px;
  border: 2px solid #dec129;
}

div{
  display: flexbox;
}

/* modifica o tamanho */
@media (max-width: 2580px) {
  *{
    font-size: 20px;
  }

  .formulario{
    display: block;
  }
  .form{

    margin: 10px;
    padding: 20px;
    font-size: 20px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .tabela{
    display: block;
    padding: 20px;
    margin-left: 120px;
    margin-right: 120px;
  }

  label{
    font-size: 40px;
  }

  button {
    padding: 0.1em;
    margin: 1.1em;
    font-size: 40px;
  }
  button:hover{
    color: rgba(16, 17, 16, 0.305);
    font-size: 45px;
    border: 2px solid #dec129;
  }

  tr{
    display: flex;
    flex-direction: row;
    padding: 0.1em;
    font-size: 65px;
    border: 2px solid black;
  }
  tr h4{
    font-size: 40px;
  }

  td{
    padding: 1.1em;
    font-size: 45px;
  }

  input {
    width: 66%;
    font-size: 50px;
  }
}


@media (max-width: 370px) {

  .formulario{
    display: block;
  }

  .tabela{
    display: block;
  }

  tr{
    display: block;
  }
  input{
    width: -webkit-fill-available;
  }
}

@media (max-width: 175px) {

  .formulario{
    display: block;
  }

  .tabela{
    display: block;
  }

  tr{
    display: block;
  }
  input{
    width: -webkit-fill-available;
  }
}

@media (max-width: 187px) {

  .formulario{
    display: block;
  }

  .tabela{
    display: block;
  }

  tr{
    display: block;
  }
  input{
    width: -webkit-fill-available;
  }
}



