/* You can add global styles to this file, and also import other style files */
/* toda página */
*{
  background-color: azure;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;

}

/* formulário da página */
.formulario{
  background-color: rgba(38, 241, 241, 0.269);
   margin: 0px;
  padding: 50px;
  padding: 0.1em;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 125px;
  padding-top: 50px;
  width: 100%;
}

.form{
  border: 2px solid black;
  margin: 10px;
  padding: 10px;

}

.tabela{
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
}

/* butões da página */
button{
  padding: 0.1em;
  margin: 1.1em;
  color: black;
}
button:hover{
  color: rgba(16, 17, 16, 0.305);
  font-size: 17px;
  border: 2px solid #dec129;
}

div{
  display: flexbox;
}

/* modifica o tamanho */
@media (max-width: 370px) {

  .formulario{
    display: block;
  }

  .tabela{
    display: block;
  }

  tr{
    display: block;
  }
  input{
    width: -webkit-fill-available;
  }
}

@media (max-width: 175px) {

  .formulario{
    display: block;
  }

  .tabela{
    display: block;
  }

  tr{
    display: block;
  }
  input{
    width: -webkit-fill-available;
  }
}

@media (max-width: 187px) {

  .formulario{
    display: block;
  }

  .tabela{
    display: block;
  }

  tr{
    display: block;
  }
  input{
    width: -webkit-fill-available;
  }
}



