<!--Formulário-->
<div style="border: 2px solid black; margin: 10px; padding: 10px;">
  <form>
    <label>Curso</label>
    <input type="text" name="nomeCurso" [(ngModel)]="curso.nomeCurso">
    <br>
    <label>Valor</label>
    <input type="text" name="valorCurso" [(ngModel)]="curso.valorCurso">
    <br>
    <br>
    <button (click)="cadastro()"> Cadastrar:</button>
    <button>Alterar</button>
    <button (click)="remover()"> Excluir</button>
  </form>
  <!--tabela-->
  <table border="1" style="margin: 5px; padding: 5px; ">
    <tr *ngFor="let v of vetor">
      <td>{{ v.nomeCurso }}</td>
      <td>{{ v.valorCurso }}</td>
      <td> <button (click)="selecionarCurso(v)"> Selecionar curso </button> </td>
    </tr>
  </table>
</div>
