<!-- Formulário -->
<div class="formulario">
  <form class="form" method="post" action="/cadastrar" >
    <label> Curso </label>
    <input type="text" name="nomeCurso" [(ngModel)]="curso.nomeCurso">
    <br>
    <br>
    <label> Valor </label>
    <input type="text" name="valorCurso" [(ngModel)]="curso.valorCurso">
    <br>
    <br>
    <button (click)="cadastro(this.curso)"> Cadastrar:</button>
    <button (click)="alterar(this.curso)">Alterar</button>
    <button (click)="remover(this.curso)"> Excluir</button>
  </form>
  <!--tabela-->
  <table class="tabela">
    <tr *ngFor="let v of vetor">
      <td>{{ v.nomeCurso }}</td>
      <td>{{ v.valorCurso }}</td>
      <td> <button (click)="selecionarCurso(v)"> Selecionar curso </button> </td>
    </tr>
  </table>
</div>
